.hud {
  position: absolute;
  width: 100%;
  opacity: 0.9;
}

#resources {
  height: 50px;
  background-color: #cccccc;
  top: 0px;
  left: 0px;
}

#orders {
  height: 100px;
  background-color: #aaaaaa;
  bottom: 0px;
  left: 0px;

  .minimap {
    float: left;
    width: 25%;
    height: 100%;

    .map {
      width: 80px;
      height: 80px;
      background-color: #000000;
      margin: 10px;
    }
  }

  .main {
    float: left;
    width: 50%;
  }

  .actions {
    float: left;
    width: 25%;
  }
}
