#hud {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  font-family: "Helvetica Neue";
  font-size: 10pt;

  #minerals {
    position: absolute;
    top: 0px;
    right: 300px;
    text-align: right;
    width: 100px;

    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;

    padding: 5px 10px;
  }

  #menu-button {
    position: absolute;
    top: 0px;
    left: 100px;

    padding: 5px 10px;

    color: #888;

    background: #222;

    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;

    border-bottom: 1px solid #444;
    border-left: 1px solid #444;
    border-right: 1px solid #444;
  }

  #gui-bottom {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 220px;
    border-top: 2px solid #ccc;

    #minimap {
      position: absolute;
      left: 0px;
      bottom: 0px;
      width: 212px;
      height: 220px;
      background-color: #222;

      pointer-events: none;

      -webkit-mask-image: url('img/minimap-mask.png');
    }

    #selection {
      position: absolute;
      left: 212px;
      right: 350px;
      bottom: 0px;
      height: 200px;
      background-color: #111;
      padding: 10px;

      border-left: 2px solid #ccc;
      pointer-events: none;

      .selection-name {
        color: #444;
        text-align: center;
      }
    }

    #commands {
      position: absolute;
      right: 0px;
      bottom: 0px;
      width: 340px;
      height: 200px;
      background-color: #111;

      border-left: 2px solid #ccc;
      pointer-events: none;
      padding: 10px;

      .grid {
        font-size: 14pt;

        .command {
          > div {
            vertical-align: top;
            margin: 5px 10px;
            display: inline-block;
          }

          .action {
            color: #FFA500;
          }
        }

        .row {
          width: 100%;
          clear: left;
          height: 64px;

          .spanned-cell {
            img {
              width: 32px;
              height: 32px;
            }
          }

          .cell {
            float: left;
            width: 64px;
            height: 64px;
            background-color: #222;
            padding: 5px;

            border: 1px solid #444;
            box-sizing:border-box;
            -moz-box-sizing:border-box;
            -webkit-box-sizing:border-box;

            img {
              width: 100%;
              height: 100%;
            }
          }

          .cell-1 {
            margin: 2px 2px 2px 0px;
          }

          .cell-2, .cell-3, .cell-4 {
            margin: 2px;
          }

          .cell-5 {
            margin: 2px 0px 2px 2px;
          }
        }
      }
    }
  }
}
