#hud {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  font-family: "Helvetica Neue";
  font-size: 10pt;

  #minerals {
    position: absolute;
    top: 0px;
    right: 300px;
    text-align: right;
    width: 100px;

    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;

    padding: 5px 10px;
  }

  #menu-button {
    position: absolute;
    top: 0px;
    left: 100px;

    padding: 5px 10px;

    color: #888;

    background: #222;

    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;

    border-bottom: 1px solid #444;
    border-left: 1px solid #444;
    border-right: 1px solid #444;
  }

  #gui-bottom {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 220px;
    border-top: 2px solid #ccc;

    #minimap {
      position: absolute;
      left: 0px;
      bottom: 0px;
      width: 212px;
      height: 220px;
      background-color: #222;

      pointer-events: none;

      -webkit-mask-image: url('img/minimap-mask.png');
    }

    #selection {
      position: absolute;
      left: 212px;
      right: 350px;
      bottom: 0px;
      height: 200px;
      background-color: #111;
      padding: 10px;

      border-left: 2px solid #ccc;
      pointer-events: none;

      .selection-name {
        height: 30px;
        color: #444;
        text-align: center;
      }

      #build_queue {
        height: 150px;
        width: 75%;
        margin: 20px auto;

        .build_queue-current {
          width: 100%;
          height: 64px;
          clear: left;

          margin-left: -5px;

          .build_queue-current-1 {
            float: left;
            width: 64px;
            height: 64px;
            background-color: #222;
            border: 1px solid #444;
            box-sizing:border-box;
            -moz-box-sizing:border-box;
            -webkit-box-sizing:border-box;

            span {
              font-size: 42pt;
              padding-left: 15px;
            }
          }

          .build_queue-current-progress {
            float: left;
            width: 180px;
            height: 10px;
            border: 1px solid #444;
            border-radius: 4px;
            margin: 45px 10px 0px 20px;
            padding: 2px;

            .build_queue-current-progress-meter {
              width: 0%;
              height: 100%;

              background: #c9de96; /* Old browsers */
              background: -moz-linear-gradient(top,  #c9de96 0%, #8ab66b 44%, #398235 100%); /* FF3.6+ */
              background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9de96), color-stop(44%,#8ab66b), color-stop(100%,#398235)); /* Chrome,Safari4+ */
              background: -webkit-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* Chrome10+,Safari5.1+ */
              background: -o-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* Opera 11.10+ */
              background: -ms-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* IE10+ */
              background: linear-gradient(to bottom,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* W3C */
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-9 */

            }
          }
        }

        .build_queue-next {
          margin-top: 20px;
          width: 100%;
          height: 64px;

          .build_queue-next-2, .build_queue-next-3, .build_queue-next-4, .build_queue-next-5  {
            float: left;
            width: 48px;
            height: 48px;
            background-color: #222;
            border: 1px solid #444;
            box-sizing:border-box;
            -moz-box-sizing:border-box;
            -webkit-box-sizing:border-box;

            margin: 10px;

            span {
              font-size: 32pt;
              padding-left: 10px;
            }
          }

          clear: both;
        }
      }
    }

    #commands {
      position: absolute;
      right: 0px;
      bottom: 0px;
      width: 340px;
      height: 200px;
      background-color: #111;

      border-left: 2px solid #ccc;
      padding: 10px;

      .grid {
        font-size: 14pt;

        .row {
          * {
            pointer-events: all;
          }

          .command {
            > div {
              vertical-align: top;
              margin: 5px 10px;
              display: inline-block;
            }

            .action {
              color: #FFA500;
            }
          }

          width: 100%;
          clear: left;
          height: 64px;

          .spanned-cell {
            svg {
              width: 32px;
              height: 32px;
            }
          }

          .cell {
            float: left;
            width: 64px;
            height: 64px;
            background-color: #222;
            padding: 5px;

            border: 1px solid #444;
            box-sizing:border-box;
            -moz-box-sizing:border-box;
            -webkit-box-sizing:border-box;

            svg {
              width: 100%;
              height: 100%;
            }
          }

          .cell-1 {
            margin: 2px 2px 2px 0px;
          }

          .cell-2, .cell-3, .cell-4 {
            margin: 2px;
          }

          .cell-5 {
            margin: 2px 0px 2px 2px;
          }
        }
      }
    }
  }
}
