* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#lock {
  background-color: #e8e8e8;
  width: 100%;
  height: auto;
  bottom: 0px;
  top: 0px;
  left: 0;
  position: absolute;
  z-index: 1;
  opacity: 0.8;

  div {
    position: absolute;
    width: 400px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -25px;
    color: #000;
    font-size: 32pt;
    text-align: center;
  }
}

body {
  &.cursor {
    cursor: url(cursors/SC2-cursor.cur), auto;
  }

  &.cursor-top {
    cursor: url(cursors/cursor-edgescroll-top.cur), auto;
  }

  &.cursor-left {
    cursor: url(cursors/cursor-edgescroll-left.cur), auto;
  }

  &.cursor-right {
    cursor: url(cursors/cursor-edgescroll-right.cur), auto;
  }

  &.cursor-bottom {
    cursor: url(cursors/cursor-edgescroll-bottom.cur), auto;
  }

  &.cursor-top-left{
    cursor: url(cursors/cursor-edgescroll-top-left.cur), auto;
  }

  &.cursor-top-right {
    cursor: url(cursors/cursor-edgescroll-top-right.cur), auto;
  }

  &.cursor-bottom-left {
    cursor: url(cursors/cursor-edgescroll-bottom-left.cur), auto;
  }

  &.cursor-bottom-right {
    cursor: url(cursors/cursor-edgescroll-bottom-right.cur), auto;
  }
}
